<table>
  <ul>
    <li><% reservationName %></li>
    <li><% reservationDate %></li>
    <li><% reservationTime %></li>
    <li><% reservationEmail %></li>
    <li><% reservationPhone %></li>
  </ul>
</table>
